html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgray;
}

#content-section {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

#menu {
    text-align: center;
}

button {
    margin: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.repo-div {
    background-color: white;
    margin-bottom: 5vw;
}

.info-div {
    padding-left: 50px;
    border: 2px solid;
}

.events-div {
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    height: 50vw;
    overflow: auto;
}

.releases-div, .issues-div, .commits-div {
    padding: 1vw;
    border-bottom: 2px solid;
}

.releases-div, .commits-div {
    border-left: 2px solid;
    border-right: 2px solid;
}

.one-release-div, .one-issue-div, .one-commit-div {
    padding: 1vw;
    border: 2px solid;
    margin-bottom: 5vw;
}

.hidden {
    visibility: hidden;
}

/*
* Load spinner, using a method described here: https://www.youtube.com/watch?v=BxpjA9t4dJE
* Also reuses some css styling from an earlier project: https://github.com/edvinpontuslarsson/youedvin
*/
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 18%;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    border: 7px solid lightgray;
    border-top-color: green;
    animation: spinner 1s linear infinite;
}

/* 
* Also for the load spinner
*/
@keyframes spinner {
to {
    transform: rotate(360deg);
}
}